{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mt-5 flex flex-row items-start gap-5">
    <img class="w-72 h-auto border-2 border-black rounded-full" src="{{ request.user.profile_image.url }}" alt="Profile Image" />
    <div>
        <h2 class="text-2xl font-bold text-gray-800">{{ teacher.get_full_name }}</h2>
        <h3 class="text-xl text-gray-600">Email: {{ teacher.email }}</h3>
        {% if teacher.is_superuser %}
        <h3 class="text-xl text-gray-600">Status: <span class="text-yellow-500">⭐️⭐️⭐️</span> Superuser</h3>
        {% else %}
        <h3 class="text-xl text-gray-600">Status: <span class="text-yellow-500">⭐️⭐️</span> Teacher</h3>
        {% endif %}
    </div>
</div>
{% endblock content %}