{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Student management</title>
	</head>
	<div class="max-w-md bg-white p-8 shadow-md rounded-md absolute top-1/2 left-1/2" style="transform: translate(-50%, -50%)">
		<body>
			<form action="" method="post">
				<h2 class="text-2xl font-semibold text-center mb-6">User Registration</h2>
				{% csrf_token %} {{ form }}   <br>
				<button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Register</button>
			</form>
			<script src="{% static 'script.js' %}"></script>
		</body>
	</div>
</html>
