{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto mt-8">
    <form class="max-w-md mx-auto" action="" method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Title</label>
            {{ form.title }}
        </div>
        <div class="mb-4">
            <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Description</label>
            {{ form.description }}
        </div>
        <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Yangilash
        </button>
    </form>
</div>
{% endblock content %}